body {
  padding: 30px 40px;
}

button {
  margin-top: 15px;
}

.form-group {
  margin-right: 20px;
}

#insert-employee-form-container {
  border: 1px;
  border-color: gray;
  border-style: solid;
  border-radius: 20px;
  padding: 30px 40px;
  margin-top: 30px;
}

#insert-employee-form-container h4 {
  margin-bottom: 15px;
}

#employee-table-container {
  /* border: 1px;
  border-color: black;
  border-style: solid; */
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#employee-list {
  width: 80%;
}